/* mini reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.span-all {
    grid-column: 1/-1;
}

.form-group {
    display: grid;
}

fieldset {
  border: none;
  padding: 0;
}

.grow {
    grid-column:  1/-1;
}

.form-group:has(:not([type="radio"])[required]) label {
    display: flex;
    gap: 1ch;

    &::after {
        content: "*";
        color: green;
    }
}

input {
    width: -webkit-fill-available;
    font-size: 0.85rem;
    border: 1px solid green;
    border-radius: 6px;
    padding: 0.75em 1.5em;
}

.support {
  position: fixed;          
  inset: 0;                 
  background: rgba(0,0,0,0.5); 
  display: none;
  z-index: 1000;            
}

.support.open {
  display: flex;
  border-radius: 25%;
  align-items: center;
  justify-content: center;
  width: min-content;
  height: fit-content;
}

.support form { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(4, auto) auto;
    gap: 1rem;
    padding: 2rem;
    border-radius: 2rem;
    max-width: 500px;
    width: 100%;

    box-shadow:
    0 2px 4px rgba(0,0,0,0.1),
    0 10px 25px rgba(0,0,0,0.15);
    border-radius: 8px;
    background: rgb(221, 212, 212);
}

.full {
    grid-column: 1/-1;
}    

.gerecept {
  position: fixed;          
  inset: 0;                 
  background: rgba(0,0,0,0.5); 
  display: none;
  z-index: 1000;            
}

.gerecept.open {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gerecept form {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
}

.ommig {
  position: fixed;          
  inset: 0;                 
  background: rgba(0,0,0,0.5); 
  display: none;
  z-index: 1000;            
}

.ommig.open {
  display: flex;
  background-color: bisque;
  align-items: center;
  justify-content: center;
}

.ommig {
  grid-column: 1 auto;
  flex-direction: column;
  background-color: aliceblue;
  max-width: fit-content  ;
  max-height: fit-content;
}

.ommig img {
  width: 50%;
  height: auto;
}

.grid {
  display: grid;
  gap: 1rem;
}

.grid--1-row {
  grid-template-rows: repeat(1, 1fr);
}

.grid--2-rows {
  grid-template-rows: repeat(2, 1fr);
}

.grid--3-rows {
  grid-template-rows: repeat(3, 1fr);
}

.grid--1-col {
  grid-template-columns: repeat(1, 1fr);
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

dialog {
  border: none;
  border-radius: 10px;
  padding: 1.5rem;
  width: fit-content;
  max-width: 90vw;
  box-shadow: 0 15px 40px rgba(0,0,0,.3);
  background-color: antiquewhite;
}

dialog::backdrop {
  background: rgba(0,0,0,.5);
}

.textarea {
  width: -webkit-fill-available;
}

.closeb {
  width: 25%;
  background-color: rgb(211, 171, 171);
}

.closeb2 {
  width: 40%;
}

.fa {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}

.bt {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  background-color: bisque;
  margin-right: 1rem;
  border-color: azure;
  border-radius: 10px;
}