

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: black;
  color: white;
  padding: 8px 12px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.content {
    display: grid;
    grid-template-rows: 4fr 4fr 4fr 4fr;
    background-color: aquamarine;
}


.content img {
    max-width: 10%;
    max-height: auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    "top top"
    "left right"
    "bottom bottom";
    gap: 1rem;
}

.top {
  border-top: 1rem;
  border-bottom: 1rem;
  grid-area: top;
  display: flex;
  justify-content: center;
  background-color: rgb(156, 195, 221);
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
  background-color: rgb(182, 169, 143);
}

.right ul {
    margin: 0;
    padding-left: 2rem;
}

.right p {
    margin: 0;
    padding-left: 2rem;
}


.bottom {
  grid-area: bottom;
  background-color: beige;
}

.grid > div {
  padding: 1rem;
  background: #eee;
  border: 1px solid #ccc;
}
