.nav {
    background-color: white;
    border-bottom: 1rem; /* why not px? */
    border-color: #e5e7eb; 
}

.main{
    background-color: #e5e7eb;
}

.section_top {
    background: linear-gradient(0.25turn,rgb(37, 99, 235, 1),rgba(30, 64, 175, 1));
    display: flex;
    flex-direction: column;   
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    min-height: 20vh;       /* full screen height */
}

.section_right_1 {
    background-color: #ffffff;
}

.section_right_2 {
    background-color: #2563EB;
}

.section_right_3 {
    background-color: #ffffff;
}


.header {

}

.inter-h1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: 2rem;
  font-weight: 700;
  font-style: bold;
  color: #ffffff;
  text-align: center;
  line-height: 2rem;
  letter-spacing: 0%;
  align-items: center;
}

.inter-h2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: 2rem;
  font-weight: 400;
  font-style: regular;
  color: #dbeafe;
  text-align: center;
  line-height: 1rem;
  letter-spacing: 0%;
  align-items: center;
}

.form-text {
  font-family: "Inter", sans-serif;
/*  font-optical-sizing: 2px; */
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-align: center;
  line-height: 1rem;
  align-items: center;
}
ï¿¼
.inp {
    width: 448px;
    margin: 0 auto; 
}

.grid {
    align-items: start;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 1rem;
}

.grid article img {
    grid-column: 1;
    width: 100%;
    height: auto;
    display: block;
}

.grid header {
    grid-column: 1;
    }

.grid article {
    grid-column: 1;
}

.grid aside {
    grid-column: 2;
}


.p1 {
    color: rgb(160, 34, 40);
}

.footer {
    background-color: #111827;
}

