.nav {
    display: flex;
    background-color: #E5E7EB;
    align-items: center;
    padding: 1rem 2rem;
}

.nav p {
    margin: 0;
    font-weight: 700;
    color: #111827;
    font-size: 24px;
    line-height: 32px;
}

.nav ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 0 auto; 
    padding: 0;
    background-color: #ffffff;
}

.button_top {
    background-color: #2563EB;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
}

.main {
    background-color: #e5e7eb;
    width: 75%;
}

.header_top_text {
    margin-left: 2rem;
    color: #111827;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0%;
}

.section_top {
    background: linear-gradient(0.25turn,rgb(37, 99, 235, 1),rgba(30, 64, 175, 1));
    display: flex;
    flex-direction: column;   
    justify-content: center; 
    align-items: center;     
    min-height: 20vh;      
}

.section_right_1 {
    width: 384px;
    height: 244px;
    opacity: 1;
    border-radius: 8px;
    background-color: #ffffff;
    margin-bottom: 1rem;
}

.section_right_2 {
    border-radius: 10px;
    width: 95%;
    background-color: #2563EB;
}

.section_right_2_form {
    text-align: center;
}

.section_right_2_button {
    display: block;
    width: 50%;
    margin: 0 auto;
    background-color: #ffffff;  
}

.p_section_2 {
    margin-left: 2rem;
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;
}



.section_right_3 {
    background-color: #ffffff;
}

.section_right_3_text {
    margin-top: 2rem;
    margin-left: 2rem;
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}

.header {

}

.inter-h1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: 2rem;
  font-weight: 700;
  font-style: bold;
  color: #ffffff;
  text-align: center;
  line-height: 2rem;
  letter-spacing: 0%;
  align-items: center;
}

.inter-h2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: 2rem;
  font-weight: 400;
  font-style: regular;
  color: #dbeafe;
  text-align: center;
  line-height: 1rem;
  letter-spacing: 0%;
  align-items: center;
}

.form-text {
  font-family: "Inter", sans-serif;
/*  font-optical-sizing: 2px; */
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-align: center;
  line-height: 1rem;
  align-items: center;
}
ï¿¼
.inp {
    width: 448px;
    margin: 0 auto; 
}

.grid {
    align-items: start;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 1rem;
}

.grid header {
    grid-column: 1;
    }

.grid article img {
    grid-column: 1;
    width: 100%;
    height: auto;
    display: block;
}

.grid aside {
    grid-column: 2;
    grid-row: 1 / span 2
}

.grid article {
    grid-column: 1;
}

.p1 {
    color: rgb(160, 34, 40);
}

.grid-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1.5rem;
    padding: 2rem;
}

.footer {
    background-color: #111827;
    width: 100%;
}

.heading-footer {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #ffffff;
}

.text-footer {
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color: #ffffff;
}

.last-text {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;    
}
