    .t1 {color: blue;}
    .t2 {color: cyan}
    .t3 {color: rgb(216, 20, 190)}

    .clist1 h2,
    .clist1 h3,
    .clist1 a {
        color: brown;
    }

    .clist:is(h2,h3,h4) {
        color: rgb(190, 8, 38);
    }

    .parent {
        display: flex;
        min-height: 100px;
        gap: 1rem;
    }

    .pa:nth-child(3) {
        background-color: aqua;
        height: 600px;
    }

    .pa:nth-child(6) {
        background-color: red;
        height: 600px;
    }

    .pa {
        background-color: blue;
    }

    .even_columns {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(4,1fr);
    }

    .flow {
        background-color: brown;
    }

    .flow:nth-child(1) {
        background-color: lightblue;
    }
    
    /* box mode */

    .box {
        background-color: lightblue;
    }

    .inline {
        background-color: blueviolet;
    }

    .hed1 {
        background-color: blanchedalmond;
        
    }