/*** Reset ***/
/* This is from Kevin Powell, edit to your liking */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* h1-h4 has to be reseted in chrome */

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: inherit;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;
}

/* min body height */
body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* make headings wrap better */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* custom css, naming convetion, class name corresponds to tag */

.header {
  display: grid;
  grid-column: auto;
  width: 75%;
}
.header nav {
  display: flex;
  width: a;
  justify-content: space-between;
}

/* two row logo */
.logo {
  display: flex;
  flex-direction: column;
}

/* main layout */

.main {
  display: grid;
  width: 75%;
  margin: 0 auto;
  justify-items: center;

  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, auto);

  grid-template-areas:
    "r1"
    "r2"
    "r3"
    "r4"
    "r5"
    "r6"
    "r7"
    "r8";
}

.r1 {
  height: 10rem;
}

.r2 {
  height: 30vh;
  color: var(--clr-neutral-400);102%
  padding-bottom: 3rem;
}  

.r3 {
  width: auto;
  height: 60vh;
}  

.r4 {
  width: auto;
  height: 5rem;
  background-color: var(--clr-neutral-200)
}

.r5{
  display: grid;
  width: auto;
  background-color: aliceblue;
  padding-top: 5rem;
  justify-self: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto); /* two rows */

}

/* why does not width: auto work? */

.r6 {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 4rem;
  justify-content: center;
  width: 100%;
  height: 5rem;
  background-color: var(--clr-neutral-200)
}

.r7 {
  display: grid;
  width: auto;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(4, auto);
  gap: 1rem;
}

.card {
  display: grid;
  height: fit-content;
  grid-template-rows:
    clamp(14rem, 30vw, 20rem)
    auto
    auto
    auto
    auto;
  grid-template-areas:
    "card_im"
    "card_buttons"
    "flower_name"
    "description"
    "author";
  gap: 0.5rem;
}

.card_im {
  aspect-ratio: 3/4;
  object-fit: cover;
}

.card_buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem; 
}

.card_buttons button {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0.5rem;
  font-size: 0.8rem;
  border-radius: 25%;
  color: aliceblue;
}

.flower_name {
  padding: 3rem;
  color: aqua;
}

.description {
  color: aquamarine;
}

.author {
  padding: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  gap: 0.5rem 1rem;
  grid-template-areas:
    "icon line1"
    "icon line2";
}

.author svg {
  grid-area: icon;
  width: 3rem;
  height: 3rem;
  fill: black;
  align-self: center;
}

.line1 {
  grid-area: line1;
  font-size: 1.5rem;
  font-weight: 600;
}

.line2 {
  grid-area: line2;
  font-size: 1.5rem;
}

.card_footer {
  display: flex;
  gap: 0.5rem;
  justify-content: center; /* or space-between */
}

/* inner grid for 4 rows lorem */
.lorem {
  display: grid;
  justify-items: center;
  grid-template-rows: auto auto auto auto;
}

/* inner grid for pictures 2x3 matrice 
    remember that areas has to be on one row 
    css irrationality */

.pics {
  border: 0.5rem solid;
  border-color: white;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "left middle right";
}


/* maybe unessesary, global width is set in pics */

/* first three columns: 1x3*/ 

.left {
  grid-area: left; 
  background-color: antiquewhite;
}

/* rows have to be defined in middle to get 50/50 */

.middle {
  display: grid;
  height: 100%;
  grid-area: middle;
  grid-template-rows: 1fr 1fr;
  background-color: aqua;
}

/* middle pictures: 1x2 1x1 */

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.right {
  display: grid;
  grid-area: right;
  grid-template-rows: 1fr 1fr;
  background-color:brown;
}

.two_cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.one_row {
  display: grid;
  grid-row: auto;
}

.two_rows {
  display: grid;
  grid-row: auto auto;
}

.middle_section {
  height: 50%;
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  background-color: aliceblue;
  justify-content: center;
  justify-items: center;
  }

.middle_row {
  display: grid;
  grid-row: auto;
  width: 40rem;
  background-color: aqua;
}

/* 4 cols => 5 divisions: |||||, so 2/3 is between 2 and 3  */

.row1 {
  grid-column: 2 / 3;
  grid-row: 1;
}

.row2 {
  grid-column: 2 / 3;
  grid-row: 2;
}

.row3 {
  grid-column: 4 / 5;
  grid-row: 1;
}

.input {
  border: 0.1rem solid;
  border-color: grey;
  border-radius: 25px;
}

.icon-wrap {
  width: 20rem;
  aspect-ratio: 1;
  background: var(--clr-green-200);
  border-radius: 9999px;
  display: grid;
  place-items: center;
}

.icon1 {
  width: 60%;
  fill: white;
}

.icon2 {
  width: 10rem;
  height: auto;
  padding: 2rem;
  fill: white;
  background-color: var(--clr-green-200);
  border-radius: 9999px;
}

.icon:hover {
  fill: red;
}

.footer {
  background-color: var(--clr-green-200);
  width: auto;
  height: 40%;
}

/* prefigure css */

p,li,figcaption {
  text-wrap: pretty;
  /* max-width: 55ch; */
}

/* for container queries, landmarks as containers */
body> :is(header, footer),
main {
  container-type: inline-size;
}

/* remove list style but keep it as list for Safari browser - use with <ul role="list"> */
[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*** Theme ***/

:root {
  /* color definitions */
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 87%);
  --clr-neutral-300: hsl(0, 0%, 57%);
  --clr-neutral-400: hsl(0, 0%, 27%);
  --clr-neutral-800: hsl(0, 0%, 17%);
  --clr-neutral-900: hsl(0, 0%, 12%);

  --clr-green-100: hsl(169, 11%, 93%);
  --clr-green-200: hsl(169, 51%, 58%);
  --clr-green-400: hsl(169, 86%, 28%);
  --clr-green-800: hsl(169, 86%, 12%);
  --clr-green-900: hsl(169, 80%, 12%);

  --clr-robust: hsl(221, 63%, 32%);
  --clr-green: hsl(110, 63%, 32%);
  --clr-flower: hsl(2, 92%, 33%);
  --clr-colorful: hsl(303, 55%, 47%);
  --clr-sunloving: hsl(27, 88%, 33%);
  --clr-air: hsl(180, 84%, 27%);
  --clr-decorative: hsl(278, 79%, 40%);
  --clr-edible: hsl(68, 61%, 30%);
  --clr-easy: hsl(224, 86%, 58%);
  --clr-fragrant: hsl(327, 51%, 47%);
  --clr-fast: hsl(218, 11%, 34%);

  /* font weights definitions */
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  /* Font sizes definitions */
  --fs-100: 0.625rem;
  --fs-200: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;Das


  /*** Theme setup ***/

  /* font family */
  --font-base: "Open Sans", "Segoe UI", Tahoma, sans-serif;

  /* theme color assignments */
  --clr-accent: var(--clr-green-400);
  --clr-accent-light-1: var(--clr-green-100);

  --clr-primary-light-1: var(--clr-neutral-100);
  --clr-primary-light-2: var(--clr-neutral-200);
  --clr-primary-light-3: var(--clr-neutral-300);

  --clr-primary: var(--clr-neutral-400);
  --clr-primary-dark: var(--clr-neutral-800);

  /* Font weights assignments */
  --fw-regular: var(--fw-400);
  --fw-medium: var(--fw-500);
  --fw-semi-bold: var(--fw-600);
  --fw-bold: var(--fw-700);
  --fw-x-bold: var(--fw-900);

  /* Border shadow */
  --border-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  /* Spacing */
  --spacing-base: 1rem;

  --flow-space: 1.75em;
  --flow-space-lg: 4em;
}

/*** Global/base ***/
h1,
h2,
h3 {
  font-weight: var(--fw-bold);
  line-height: 1;
}

h1,
h2 {
  font-size: var(--fs-700);
}

h3 {
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
}

a {
  text-decoration: none;
  color: var(--clr-accent);

  &:hover,
  &:focus-visible {
    text-decoration: underline;
  }
}

body {
  font-family: var(--font-base);
  background-color: var(--clr-accent-light-1);
  color: var(--clr-primary-dark);
}


/*** Composition ***/
.flow>*+* {
  margin-block-start: var(--flow-space);
}

.flow-lg>*+* {
  margin-block-start: var(--flow-space-lg);
}

/*
See these for more info:
https://www.youtube.com/watch?v=c13gpBrnGEw
https://www.youtube.com/watch?v=cf-J4ffMBfo
*/
.content-grid,
.fullwidth {
  --_content-width: 70rem;
  --_min-margin-width: 1rem;

  display: grid;
  grid-template-columns: [fullwidth-start] minmax(var(--_min-margin-width), 1fr) [content-start] min(100% - var(--_min-margin-width) * 2,
      var(--_content-width)) [content-end] minmax(var(--_min-margin-width), 1fr) [fullwidth-end];
  /*  grid-template-rows: [fullwidth-start] auto [fullwidth-end];*/
}

/* keep the content of the content-grid and fullwidth inside the content container */
.content-grid>*,
.fullwidth>* {
  grid-column: content;
}

/* a bit more complex but more fancy/explicit version of above */
/*.content-grid > :not(.fullwidth),
.fullwidth > :not(.fullwidth) {
  grid-column: content;
}*/

/* if we have a fullwidth inside of a content-grid put this in the fullwidth container */
.content-grid>.fullwidth {
  grid-column: fullwidth;
}


/*** Utilities ***/

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}