:root {
    --bg-color: rgb(240, 245, 247);

    @media (400px < width < 500px){
        background-color: beige;    
    }
}

body {
    background-color: var(--bg-color);
}
* {
  box-sizing: border-box;
}

.grids {
  display: grid;
  width: 75%;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "left"
  "middle";
  "right"
}

.left {
  background-color: aqua;
}

.middle {
  background-color: antiquewhite;
}

.right {
  background-color: aquamarine;
}

