/* style for music player */

.card {
    display: flex;
    flex-direction: row;
}

.body {
    background-color: #f9f9f9;
}

.topbar {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-bottom: 1rem;
}

.input {
    background-color: #ffffff;
}

.songs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
}

.song-card {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 0.75rem;
  background-color: #cde7f9;
  border-radius: 25px;
}

.visible {
  visibility: visible;
}

.not-visible {
  visibility: hidden;
}

.hidden {
  display: none;
}
