/* style for music player */

.card {
    display: flex;
    flex-direction: row;
}

.body {
    background-color: #f9f9f9;
}

.header {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(223, 246, 255);
}

/* inpput section */
.topbar_left {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-bottom: 1rem;
}

.topbar_center {
    display: flex;
    flex-direction: column;
}

.button_top {
    border-radius: 15px;
    background-color:cornsilk;
    width: 6rem;
    height: auto;
}

.topbar_right {
    display: flex;
}

.input {
    background-color: #ffffff;
}

.layout {
  display: grid;
  grid-template-columns: 14rem 1fr; 
  gap: 1rem;                      
  padding: 1rem;
}

.left-sidebar {
  background: #ace8fc;
  color: white;
  padding: 1rem;
}

.sidebar-p {
  size: 2rem;
  color: black;
}

.sidebar-h3 {
  size: 1rem;
  color: black;
}

.songs-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1rem;
  width: 100%;
}

.song-card {
  height: 10rem;
  width: 6rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 0.75rem;
  background-color: #cde7f9;
  border-radius: 25px;
}

.visible {
  visibility: visible;
}

.not-visible {
  visibility: hidden;
}

.hidden {
  display: none;
}

.modal {
  border-radius: 15px;
  border-color: rgb(227, 227, 255);
  background-color: rgb(181, 241, 255);
  color: rgb(28, 33, 37);
}