/* style for music player */

.card {
    display: flex;
    flex-direction: row;
}

.body {
    background-color: #f9f9f9;
}

.header {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: beige;
}

/* inpput section */
.topbar_left {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-bottom: 1rem;
}

.topbar_center {
    display: flex;
    flex-direction: column;
}

.button_top {
    border-radius: 15px;
    background-color:cornsilk;
    width: 6rem;
    height: auto;
}

.topbar_right {
    display: flex;
}

.input {
    background-color: #ffffff;
}

.songs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
}

.song-card {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 0.75rem;
  background-color: #cde7f9;
  border-radius: 25px;
}

.visible {
  visibility: visible;
}

.not-visible {
  visibility: hidden;
}

.hidden {
  display: none;
}

.modal {
  border-radius: 15px;
  border-color: rgb(227, 227, 255);
  background-color: rgb(181, 241, 255);
  color: rgb(28, 33, 37);
}